body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: 1;
}

footer {
  height: 2rem;
  background-color: darkslategray;
  color: white;
  margin-top: auto;
}
