@import "./typography.scss";
@import "./theme.scss";

form {
  display: flex;
  flex-direction: column;
}

// #page-view {
//   display: flex;
//   flex: 1;

//   & > * {
//     display: flex;
//   }
// }

.img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
